---
---

@import "{{ site.theme }}";

.page-header {padding: 2rem 6rem;}

.page-header {
    color: #fff;
    text-align: center;
    background-color: #bccdc4;
    background-image: linear-gradient(120deg, #528973, #0d4b2c);
}

h1 {display: none;}